<hr>

<div id="roadmap" class="roadmap-area pt-120">
    <div class="container-fluid">
        <div class="section-title">
            <h2>NOS PACKAGES HONORABLES</h2>
        </div>
        <div class="roadmap-slides">
            <owl-carousel-o [options]="roadmapSlides">
                <ng-template carouselSlide>
                    <div class="single-roadmap">
                        <h1 class="text-center">Pack Essentiel</h1>
                        <hr>
                        <br>
                        <ol>
                            <li>
                                Strategie de Communication de Base :
                                <ul>
                                    <li>
                                        Analyse de la campagne
                                    </li>
                                    <li>Définition des messages clés</li>
                                    <li>Plan de communication</li>
                                </ul>
                            </li>

                            <li>
                                Gestion des Réseaux Sociaux :
                                <ul>
                                    <li>Création des comptes</li>
                                    <li>Gestion des comptes</li>
                                    <li>Plateformes : Facebook, Twitter (X), Instagram, Linkedin</li>
                                </ul>
                            </li>

                            <li>
                                Conception de Contenus Visuels : Création de graphique et de visuels pour les médias sociaux
                            </li>

                            <li>
                                Gestion de Crise : Disponibilité pour gérer les situations de crise de manière proactive.
                            </li>

                            <li>
                                Rapports et Analyse : Rapports mensuels sur les performances et l'engagement.
                            </li>

                            <li>
                                Support par E-mail et Téléphone : Support 5 jours par semaine.
                            </li>

                            <li>
                                Budget Publicitaire : Gestion d'un budget publicitaire en ligne.
                            </li>
                        </ol>

                        <h1 class="text-center">
                            $2,150
                        </h1>

<!--                        <a target="_blank" href="https://wa.me/+243815518517?text=Bonjour+Our+World%2C+je+vous+%C3%A9cris+pour+l%27offre+de+couverture+Live+%C3%A0+75%24%2FHeure."-->
<!--                           class="text-center default-btn btn-linkedin">JE SUIS INTERESSE</a>-->
                    </div>
                </ng-template>

                <ng-template carouselSlide>
                    <div class="single-roadmap">
                        <span class="text-center">POPULAIRE</span>
                        <hr>
                        <h1 class="text-center">Pack Avancé</h1>
                        <hr>
                        <br>
                        <ol>
                            <li>
                                Strategie de Communication Complète :
                                <ul>
                                    <li>Analyse détaillée</li>
                                    <li>Elaboration d'une stratégie multi-canaux</li>
                                    <li>Planification</li>
                                </ul>
                            </li>

                            <li>
                                Gestion des Réseaux Sociaux et Publicité :
                                <ul>
                                    <li>Création et Gestion des comptes</li>
                                    <li>Création de contenu</li>
                                    <li>Publicités ciblées</li>
                                    <li>Plateformes : Facebook, Twitter (X), Instagram, Linkedin</li>
                                </ul>
                            </li>

                            <li>Conception de Contenus Visuels et Vidéos : Création de graphique, vidéos promotionnelles</li>

                            <li>Gestion de Crise et Relations Médias : Gestion proactive des rélations avec les médias et des crises.</li>

                            <li>Rapports et Analyse Avancée : Rapports hebdomadaires approfondis, ajustements stratégiques.</li>

                            <li>Support par E-mail, Téléphone et Réunions : Support 7 jours par semaine</li>

                            <li>Budget Publicitaire : Gestion complète du budget publicitaire en ligne.</li>
                        </ol>

                        <h1 class="text-center">
                            $5,300
                        </h1>
<!--                        <a target="_blank" href="https://wa.me/+243815518517?text=Bonjour+Our+World%2C+je+vous+%C3%A9cris+pour+l%27offre+de+couverture+Live+%C3%A0+150%24%2FHeure."-->
<!--                           class="default-btn btn-youtube">JE SUIS INTERESSE</a>-->
                    </div>
                </ng-template>

                <ng-template carouselSlide>
                    <div class="single-roadmap">
                        <h1 class="text-center">Pack Premium</h1>
                        <hr>
                        <br>
                        <ol>
                            <li>Stratégie Personnalisée et Consulting : Stratégie électorale personnalisée, conseil stratégique</li>

                            <li>Gestion Complète des Campagnes : Gestion de campagnes publicitaires, stratégie numérique complète</li>

                            <li>Création de Contenus Premium : Production de vidéos, publicités télévisuelles, contenus haut de gamme</li>

                            <li>Relations Médias de Haut Niveau : Accès à des contacts médiatiques de premier plan, gestion des relations médias</li>

                            <li>Suivi Constant et Réajustements Stratégiques : Suivi en temps réel et ajustements de la stratégie</li>

                            <li>Support Illimité : Support 24/7, réunions régulières</li>

                            <li>Budget Publicitaire Haut de Gamme : Gestion complète et allocation du budget publicitaire</li>
                        </ol>

                        <h1 class="text-center">
                            $8,500
                        </h1>
<!--                        <a target="_blank" href="https://wa.me/+243815518517?text=Bonjour+Our+World%2C+je+vous+%C3%A9cris+pour+l%27offre+de+couverture+Live+%C3%A0+150%24%2FHeure."-->
<!--                           class="default-btn btn-facebook">JE SUIS INTERESSE</a>-->
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
    <img src="assets/images/features-shape-1.png" class="shape shape-1" alt="shape">
    <img src="assets/images/features-shape-2.png" class="shape shape-2" alt="shape">
</div>

<div id="roadmap-2" class="roadmap-area pt-120">
    <div class="container-fluid">
        <div class="section-title">
            <h2>NOS PACKAGES LIVE</h2>
        </div>
        <div class="roadmap-slides">
            <owl-carousel-o [options]="roadmapSlides">
                <ng-template carouselSlide>
                    <div class="single-roadmap">
                        <h1>LIVE</h1>
                        <hr>
                        <br>
                        <div class="date">
                            <span>75$ / Heure</span>
                        </div>
                        <ul>
                            <li>1 Caméras</li>
                            <li>Une plateforme de diffusion (Facebook ou Youtube)</li>
                        </ul>
                        <br>
                        <a target="_blank" href="https://wa.me/+243815518517?text=Bonjour+Our+World%2C+je+vous+%C3%A9cris+pour+l%27offre+de+couverture+Live+%C3%A0+75%24%2FHeure."
                           class="default-btn btn-linkedin">JE SUIS INTERESSE</a>
                    </div>
                </ng-template>

                <ng-template carouselSlide>
                    <div class="single-roadmap">
                        <span>POPULAIRE</span>
                        <hr>
                        <h1>LIVE PLUS</h1>
                        <hr>
                        <br>
                        <div class="date">
                            <span>150$ / Heure</span>
                        </div>
                        <ul>
                            <li>3 Caméras</li>
                            <li>Diffussion sur Facebook</li>
                            <li>Diffusion sur Youtube</li>
                            <li>Couverture de vidéo short</li>
                            <li>Diffusion annexe</li>
                        </ul>
                        <br>
                        <a target="_blank" href="https://wa.me/+243815518517?text=Bonjour+Our+World%2C+je+vous+%C3%A9cris+pour+l%27offre+de+couverture+Live+%C3%A0+150%24%2FHeure."
                           class="default-btn btn-youtube">JE SUIS INTERESSE</a>
                    </div>
                </ng-template>

                <ng-template carouselSlide>
                    <div class="single-roadmap">
                        <h1>LIVE BUSINESS</h1>
                        <hr>
                        <br>
                        <div class="date">
                            <span>250$ / Heure</span>
                        </div>
                        <ul>
                            <li>Plus de 3 Caméras</li>
                            <li>Diffussion sur Facebook</li>
                            <li>Diffusion sur Youtube</li>
                            <li>Diffusion sur Linkedin ou Instagram</li>
                            <li>Couverture Photographie</li>
                            <li>Couverture Vidéographie</li>
                            <li>Animation des titres et autres</li>
                            <li>Diffusion annexe</li>
                        </ul>
                        <br>
                        <a target="_blank" href="https://wa.me/+243815518517?text=Bonjour+Our+World%2C+je+vous+%C3%A9cris+pour+l%27offre+de+couverture+Live+%C3%A0+150%24%2FHeure."
                           class="default-btn btn-facebook">JE SUIS INTERESSE</a>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
    <img src="assets/images/features-shape-1.png" class="shape shape-1" alt="shape">
    <img src="assets/images/features-shape-2.png" class="shape shape-2" alt="shape">
</div>
