<div class="banner-area" style="background-image: url(assets/images/banner/banner-bg-2.png);">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="banner-content">
                    <h1>
                        Pour la réussite de votre campagne électorale, souscrivez à <span style="color: rgb(255, 223, 181);">"L'HONORABLE"</span>.
                    </h1>
                    <div class="banner-btn">
                        <a routerLink="/campagne-honorable" class="default-btn btn-active">Decouvrez l'offre</a>
                    </div>
                    <img src="assets/images/banner/banner-shape-4.png" class="shape banner-shape-4" alt="shape">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="banner-image">
                    <img src="assets/images/banner/banner-img-1.png" alt="banner-img">
                </div>
            </div>
        </div>
    </div>
    <img src="assets/images/banner/banner-shape-1.png" class="shape shape-1" alt="shape">
    <!-- <img src="assets/images/banner/banner-shape-2.png" class="shape shape-2" alt="shape"> -->
    <!-- <img src="assets/images/banner/banner-shape-5.png" class="shape shape-5" alt="shape"> -->
</div> 
