<app-multipage-navbar></app-multipage-navbar>
<!-- Team -->
<div class="team-area pt-120 pb-90">
    <div class="container">
        <div class="section-title">
            <span class="top-title">EQUIPE</span>
            <h2>Rencontrer l'équipe derrière la scène</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-6 col-md-4">
                <div class="single-team">
                    <img src="assets/images/team/israel-kipili.png" alt="israel kipili">
                    <h3>Israel KIPILI</h3>
                    <span>Chief Operations Officer & Modélisation 3D</span>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class="ri-facebook-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com/" target="_blank">
                                <i class="ri-twitter-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="ri-instagram-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <i class="ri-linkedin-fill"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-6 col-md-4">
                <div class="single-team">
                    <img src="assets/images/team/youness-dominique.png" alt="youness dominique">
                    <h3>Youness Dominique</h3>
                    <span>Brand Manager & <br> Developpeur Web et Mobile</span>
                    <ul>
                        <li>
                            <a href="https://web.facebook.com/youness.dominique.9" target="_blank">
                                <i class="ri-facebook-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/younessdomi" target="_blank">
                                <i class="ri-twitter-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/younessdominique/" target="_blank">
                                <i class="ri-instagram-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/youness-dominique-tshunza-6005b7a1/" target="_blank">
                                <i class="ri-linkedin-fill"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-6 col-md-4">
                <div class="single-team">
                    <img src="assets/images/team/francel-banze.png" alt="francel banze">
                    <h3>Francel BANZE</h3>
                    <span>Chief Creative Officer & Graphic Designer</span>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class="ri-facebook-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com/" target="_blank">
                                <i class="ri-twitter-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="ri-instagram-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <i class="ri-linkedin-fill"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-6 col-md-4">
                <div class="single-team">
                    <img src="assets/images/team/team-4.png" alt="team-image">
                    <h3>Eliel MUKOMBA</h3>
                    <span>Chief Creative Officer & <br> Filmaker</span>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class="ri-facebook-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com/" target="_blank">
                                <i class="ri-twitter-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="ri-instagram-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <i class="ri-linkedin-fill"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-6 col-md-4">
                <div class="single-team">
                    <img src="assets/images/team/team-4.png" alt="team-image">
                    <h3>Franck KIMPINDE</h3>
                    <span>Chief Marketing Officer & Motion Designer</span>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class="ri-facebook-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com/" target="_blank">
                                <i class="ri-twitter-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="ri-instagram-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <i class="ri-linkedin-fill"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-6 col-md-4">
                <div class="single-team">
                    <img src="assets/images/team/team-4.png" alt="team-image">
                    <h3>Harvey LOBANGA</h3>
                    <span>Chief Commercial Officer & Modelisation 3D</span>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class="ri-facebook-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com/" target="_blank">
                                <i class="ri-twitter-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="ri-instagram-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <i class="ri-linkedin-fill"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-6 col-md-4">
                <div class="single-team">
                    <img src="assets/images/team/team-4.png" alt="team-image">
                    <h3>Marvin KABEMBA</h3>
                    <span>Community Manager & Graphic Designer</span>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class="ri-facebook-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com/" target="_blank">
                                <i class="ri-twitter-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="ri-instagram-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <i class="ri-linkedin-fill"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>