<app-multipage-navbar></app-multipage-navbar>

<!-- Key Features Area -->
<div class="key-features-area pt-120">
    <div class="container">
        <div class="section-title">
            <h2>Services</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="single-features style-two">
                    <h3>
                        <a>Marketing & Communication</a>
                    </h3>
                    <p>
                        Notre service marketing et communication a 
                        pour objectifs de communiquer le message et l'idée principaux au public cible, 
                        présenter un produit aux prospects, initier le changement de marque, 
                        permettre à une marque d'être compétitive sur le marché, accroître la notoriété de votre marque, 
                        générer des pistes de haute qualité, développer et maintenir un leadership de pensée et augmenter la valeur du client.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-features style-two">
                    <h3>
                        <a>Graphisme</a>
                    </h3>
                    <p>
                        Nous contribuons à la création de contenus visuels esthétiquement attirants, 
                        qui véhiculent une idée ou un message pour le public ciblé. 
                        Nos graphistes interprètent vos requêtes et définissent vos objectifs.
                        Nous développons un concept et préparons des épreuves à la main ou à l’aide de logiciels et programmes de graphisme. 
                        Notre travail peut inclure la création de logos, bannières et enseignes publicitaires, 
                        affiches, posters, dépliants, mais aussi des mises en page d’impression pour l’édition ou la présentation graphique du packaging d’un produit.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-features style-two">
                    <h3>
                        <a>Vidéographie</a>
                    </h3>
                    <p>
                        Nos services de vidéographie et de filmmaking impliquent la création de vidéos promotionnelles, 
                        captations d’événements et vidéos d’entreprise pour un impact visuel optimal. 
                        Noous sommes entièrement équipés en matériel professionnel pour répondre à tous vos besoins en matière de vidéo. 
                        Nous offrons une approche personnalisée pour créer des vidéos qui captent l’essence de votre entreprise et transmettent 
                        votre message de manière claire et efficace.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-features style-two">
                    <h3>
                        <a>Developpement Web</a>
                    </h3>
                    <p>
                        Nous developpons des sites web ou des applications web destinés a ajoutée une valeur à votre image. 
                        Notre but est de développer des interfaces web adaptées a vos besoins. Cela peut inclure des sites Intranet, 
                        des sites internet, des applications web ou des outils en ligne. 
                        Nous répondons aussi à un cahier des charges élaboré par le client ou un chef de projet et utilisent des 
                        langages de programmation tels que HTML, CSS, JavaScript, MySQL et PHP, etc... pour vos projects.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-features style-two">
                    <h3>
                        <a>Developpement Mobile </a>
                    </h3>
                    <p>
                        Nos services de développement mobile incluent la création et le déploiement 
                        d’applications mobiles fiables, évolutives et portables, 
                        qui permettent aux entreprises d’interagir avec les clients, les partenaires et les salariés. 
                        Nous offrons une approche personnalisée pour créer des applications qui captent l’essence 
                        de votre entreprise et transmettent votre message de manière claire et efficace
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-features style-two">
                    <h3>
                        <a>Modélisation & Sculpture 3D</a>
                    </h3>
                    <p>
                        Nos services de modélisation et Sculpture 3D permettent la création de modèles 
                        3D à partir de vos idées, concpetions ou projet. 
                        Nos modèles 3D peuvent être optimisés pour la fabrication selon vos besoins, 
                        en impression 3D ou tout autre procédé industriel; dans la construction des bâtiments et immeubles. 
                        Nous vous accompagnons dans chaque étape du développement de votre produit, 
                        de la recherche aux choix techniques, en passant par les rendus visuels et les mises en plans jusqu’au prototypage et/ou la mise en production.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <img src="assets/images/features-shape-1.png" class="shape shape-1" alt="shape">
    <img src="assets/images/features-shape-2.png" class="shape shape-2" alt="shape">
</div>