<div
    id="about"
    class="about-area bg-170f32 pt-120"
    [ngClass]="{'style-two pb-120': router.url === '/index-2' || router.url === '/index-5' || router.url === '/dex-offering' || router.url === '/land-selling-platform'}"
>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="about-image style-bottom">
                    <img src="assets/images/about-img.png" alt="abotu-image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <span class="top-title">A PROPOS DE NOUS</span>
                    <h2>Our World TKPL est le meilleur choix pour votre prochain projet</h2>
                    <p>
                        Nous sommes une startup numérique innovante qui se concentre 
                        sur la création de solutions numériques innovantes pour aider 
                        les entreprises ainsi que les particuliers à relever les défis de la transformation digitale. 
                        Nous sommes passionnés par la technologie et nous nous efforçons de 
                        créer des produits qui sont à la fois utiles et faciles à utiliser. 
                        Notre équipe est composée de professionnels expérimentés dans le domaine 
                        du numérique, qui ont une solide expérience dans la création de solutions 
                        innovantes pour les entreprises. Nous sommes convaincus que notre expertise 
                        et notre passion pour la technologie nous permettront de créer des produits 
                        qui aideront les entreprises à réussir dans un monde numérique en constante évolution.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>