<app-multipage-navbar></app-multipage-navbar>


<!-- Projects -->
<div class="projects-area ptb-120">
    <div class="container">
        <div class="projects-tabs">
            <ul class="nav-tabset">
                <li class="nav-tab" [ngClass]="{'active': currentTab === 'tab2'}">
                    <span (click)="switchTab($event, 'tab2')">
                        VIDEOGRAPHIE
                    </span>
                </li>
                <li class="nav-tab" [ngClass]="{'active': currentTab === 'tab3'}">
                    <span (click)="switchTab($event, 'tab3')">
                        GRAPHISME
                    </span>
                </li>
                <li class="nav-tab" [ngClass]="{'active': currentTab === 'tab4'}">
                    <span (click)="switchTab($event, 'tab4')">
                        3D ({{length_modelisation}})
                    </span>
                </li>
                <li class="nav-tab" [ngClass]="{'active': currentTab === 'tab5'}">
                    <span (click)="switchTab($event, 'tab5')">
                        PROGRAMMATION
                    </span>
                </li>
                <li class="nav-tab" [ngClass]="{'active': currentTab === 'tab6'}">
                    <span (click)="switchTab($event, 'tab6')">
                        COMMUNICATION
                    </span>
                </li>
            </ul>
            <div class="tabs-container">
                <div class="pane" id="tab4" *ngIf="currentTab === 'tab4'">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6" *ngFor="let item of modelisation">
                            <div class="single-next-project">
                                <img src="{{item.image}}" alt="project-image">
                                <div class="next-project-content">
                                    <h3>{{item.name}}</h3>
                                    <p>{{item.description}}</p>
                                    <ul>
                                        <li>
                                            Technologie
                                            <span>{{item.technologie}} <sub></sub></span>
                                        </li>
                                        <li>
                                            Durée
                                            <span>{{item.duree}} <sub></sub></span>
                                        </li>
                                        <li>
                                            Client
                                            <span>{{item.client}} <sub></sub></span>
                                        </li>
                                    </ul>
                                </div>
                                <a href="{{item.link}}" target="_blank" class="read-more-btn">Voir Plus</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>