<div class="banner-area" style="background-image: url(assets/images/banner/banner-bg-1.png);">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-12">
                <div class="banner-content">
                    <span class="top-title">
                        CAMPAGNE ELECTORALE D'UN HONORABLE !
                    </span>
                    <h1>
                        Choississez <span style="color: rgb(255, 223, 181);">"HONORABLE"</span> et obtenez votre crédibilité.
                    </h1>
                    <a routerLink="/contact-us" class="default-btn btn-active letter-spacing">NOUS CONTACTER</a>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="banner-image">
                    <img src="assets/images/banner/banner-img-1.png" alt="banner-image">
                </div>
            </div>
        </div>
    </div>
    <img src="assets/images/banner/banner-shape-11.png" class="shape shape-1" alt="shape">
    <img src="assets/images/banner/banner-shape-12.png" class="shape shape-2" alt="shape">
</div>