<!-- Partner for Metavarse Launchpad -->
<div
    class="partner-area ptb-120 bg-140c2dr"
>
    <div class="container">
        <div class="partner-slides">
            <owl-carousel-o [options]="partnerSlides">
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <img src="assets/images/partners/partner-6.png" alt="partner-image">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <img src="assets/images/partners/partner-2.png" alt="partner-image">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <img src="assets/images/partners/partner-3.png" alt="partner-image">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <img src="assets/images/partners/partner-1.png" alt="partner-image">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <img src="assets/images/partners/partner-4.png" alt="partner-image">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <img src="assets/images/partners/udbl-logo.png" alt="logo-udbl-lubumbashi">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <img src="assets/images/partners/partner-5.png" alt="partner-image">
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>
