<!-- Footer -->
<div
    class="footer-area"
    [ngClass]="{'style-two': router.url === '/index-3' || router.url === '/gaming-metaverse' || router.url === '/features' || router.url === '/blog'}"
>
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-5 col-md-5">
                <div class="single-footer">
                    <ul>
                        <li>
                            <a routerLink="/">A Propos</a>
                        </li>
                        <li>
                            <a routerLink="/">Partenaires</a>
                        </li>
                        <li>
                            <a routerLink="/">Certifications</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="single-footer logo">
                    <a routerLink="/">
                        <img src="assets/images/white-logo.png" alt="logo">
                    </a>
                </div>
            </div>
            <div class="col-lg-5 col-md-5">
                <div class="single-footer">
                    <ul class="social-link">
                        <li>
                            <span>Suivez-nous sur:</span>
                        </li>
                        <li>
                            <a href="https://web.facebook.com/profile.php?id=100064531795188" target="_blank">
                                <img src="assets/images/icon/icon-8.svg" alt="facebook">
                                Facebook
                            </a>
                        </li>
                        <li>
                            <a href="https://cd.linkedin.com/in/our-worl-t-k-p-l-b27615192" target="_blank">
                                <img src="assets/images/icon/icon-11.svg" alt="linkedin">
                                Linkedin
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/our_world_tkpl/" target="_blank">
                                <img src="assets/images/icon/icon-12.svg" alt="instagram">
                                Instagram
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <img src="assets/images/footer-shape.png" class="footer-shape" alt="footer-shape">
</div>