<app-multipage-navbar></app-multipage-navbar>

<!-- Page Title -->
<div class="page-banner-area" style="background-image: url(assets/images/page-banner-bg.jpg);">
    <div class="container">
        <div class="page-banner-content">
            <ul>
                <li>
                    <a routerLink="/">
                        ACCUEIL
                    </a>
                </li>
                <li>
                    <span>CONTACT</span>
                </li>
            </ul>
            <h2>CONTACT</h2>
            <img src="assets/images/page-star.png" class="star" alt="star">
        </div>
    </div>
    <img src="assets/images/banner/banner-shape-1.png" class="shape shape-1" alt="shape">
    <img src="assets/images/banner/banner-shape-2.png" class="shape shape-2" alt="shape">
</div>

<!-- Contact Info -->
<div class="contact-info-area pt-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-12">
                <div class="info-content">
                    <h3>Informations de contact</h3>
                    <ul>
                        <li>
                            <span>Adresse:</span>
                            1575, Avenue Mama Yemo (enceinte du collège Imara, à coté de la Salle de Sport), Lubumbashi - R.D. Congo
                        </li>
                        <li>
                            <span>Phone 1:</span>
                            <a href="tel:+243 815 518 517">+243 815 518 517</a>
                        </li>
                        <li>
                            <span>Phone 2:</span>
                            <a href="tel:+243 975 533 678">+243 975 533 678</a>
                        </li>
                        <li>
                            <span>Email:</span>
                            <a href="mailto:info@ourworldtkpl.com">info@ourworldtkpl.com</a>
                        </li>
                        <li>
                            <span>Heure:</span>
                            Lundi-Vendredi : 08h00 - 16h00 
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 col-md-12">
                <div class="maps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3907.4935187009414!2d27.476724961472208!3d-11.659395034763286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x19723fb9f8d1a04d%3A0x9f4821b54c83bf0!2sCollege%20Imara!5e0!3m2!1sfr!2scd!4v1690195201489!5m2!1sfr!2scd">

                    </iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact -->
<div class="contact-area ptb-120">
    <div class="container">
        <div class="section-title">
            <h2>LAISSEZ-NOUS UN MESSAGE</h2>
        </div>
        <div class="contact-form">
            <form>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Nom complet</label>
                            <input type="text" name="name" id="name" class="form-control" required placeholder="Name">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" name="email" id="email" class="form-control" required placeholder="mave@gmail.com">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Téléphone</label>
                            <input type="text" name="phone_number" id="phone_number" required class="form-control" placeholder="+1(135) 1984 2020">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Sujet</label>
                            <input type="text" name="msg_subject" id="msg_subject" class="form-control" required placeholder="Subject ">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <label>Message</label>
                            <textarea name="message" class="form-control" id="message" cols="30" rows="6" required placeholder="Write your message"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="form-check">
                            <div class="form-group">
                                <div class="form-check">
                                    <input
                                        name="gridCheck"
                                        value="I agree to the terms and privacy policy."
                                        class="form-check-input"
                                        type="checkbox"
                                        id="gridCheck"
                                        required
                                    >
                                    <label class="form-check-label" for="gridCheck">
                                        J'accepte de me contacter par email ou mon numéro de téléphone.
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <button type="submit" class="default-btn">Send Message</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>