<!-- Default Projects Section -->
<div
    id="projects"
    class="projects-area pt-120 pb-90"
    [ngClass]="{'d-none': router.url === '/index-3' || router.url === '/index-4' || router.url === '/gaming-metaverse' || router.url === '/nft-centric-metaverse'}"
>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-5 col-lg-12 col-md-12">
                <div class="projects-content">
                    <span class="top-title">SERVICES</span>
                    <h2>Créer des projets avec nous dans:</h2>
                </div>
            </div>
            <div class="col-xl-7 col-lg-12 col-md-12">
                <div class="projects-slides">
                    <owl-carousel-o [options]="projectsSlides">
                        <ng-template carouselSlide>
                            <div class="single-project">
                                <img src="assets/images/projects/project-2.jpg" alt="project-image">
                                <h3 class="main">
                                    Marketing & Communication
                                </h3>
                                <h3 class="hover">
                                    <a routerLink="/project-details">
                                        Marketing & Communication
                                    </a>
                                </h3>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="single-project">
                                <img src="assets/images/projects/project-1.jpg" alt="project-image">
                                <h3 class="main">
                                    Graphisme & Vidéographie
                                </h3>
                                <h3 class="hover">
                                    <a routerLink="/project-details">
                                        Graphisme & Vidéographie
                                    </a>
                                </h3>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="single-project">
                                <img src="assets/images/projects/project-6.jpg" alt="project-image">
                                <h3 class="main">
                                    Couverture Live
                                </h3>
                                <h3 class="hover">
                                    <a routerLink="/project-details">
                                        Couverture Live
                                    </a>
                                </h3>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="single-project">
                                <img src="assets/images/projects/project-3.jpg" alt="project-image">
                                <h3 class="main">
                                    Developpement Web & Mobile
                                </h3>
                                <h3 class="hover">
                                    <a routerLink="/project-details">
                                        Developpement Web & Mobile
                                    </a>
                                </h3>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="single-project">
                                <img src="assets/images/projects/project-4.jpg" alt="project-image">
                                <h3 class="main">
                                    Modelisation & Sculpture 3D
                                </h3>
                                <h3 class="hover">
                                    <a routerLink="/project-details">
                                        Modelisation & Sculpture 3D
                                    </a>
                                </h3>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="single-project">
                                <img src="assets/images/projects/project-5.jpg" alt="project-image">
                                <h3 class="main">
                                    Impression
                                </h3>
                                <h3 class="hover">
                                    <a routerLink="/project-details">
                                        Impression
                                    </a>
                                </h3>
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </div>
</div>
